.about-me-cont {
    //margin-top: 5%;
    text-align: center;
    margin-left:15%; 
    margin-right: 5%;
    display: flex;
    justify-content: center;
}

.about-me-title-cont {
    margin-top: 2%;
}