.coding-title-cont {
    max-width: 40%;
    text-align: center;
    margin-top: 5%;
    margin-left:35%; 
    margin-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    border-top: 5px solid white;

    img {
        max-height: 650px;
        width: 50%;
        height: 50%;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
    }
  }

  .python-example {
    margin-top: 25px;
    display: flex;
    max-height: 650px;
    max-width: 810.25px;
    .python-arrow {
        max-height: 650px;
        color: white;
        font-size: 5vw;
        padding-top: 30%;
        padding-bottom: 40%;
    }
    #python-text {
        display: none;
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }
  }

  .python-example:hover {
    .coding-title-cont{
        img {
            max-height: 650px;
        }
    }
    #python-text {
        padding-left: 5px;
        padding-right: 5px;
        width: auto;
        display: block;
        h2 {
            text-decoration: underline;
        }
    }
    .python-arrow {
        display: none;
    }
  }