.contact-title-cont {
    text-align: center;
    margin-top: 5%;
    margin-left:35%; 
    margin-right: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    border-top: 5px solid white;
  }

.contact-cont {

    button {
        margin-top: 10px;
        cursor: pointer;
        color: white;
        background-color: #13386c;
        border: 3px solid white;
    }
    
    button:hover {
        background-color: #0c2343;
    }

    input {
        margin-top: 5px;
        padding-left: 10px;
        width: 240px;
    }

    #yourmessage {
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        height: 100px;
        width: 234px;
    }

    #required:after {
        content:" *";
        color: red;
    }
}