.back-to-top-cont {
    margin-left:35%; 
    margin-right: 25%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin-bottom: 15px;
    border-top: 5px solid white;
    button {
        color: white;
        background-color: #13386c;
        border: none;
    }
    button:hover {
        background-color: #0c2343;
        margin-top: -2px;
        border: 2px solid white;
    }
}