
.info-container {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px black;
}

.img-container {
    img {
        float: right;
        width: 90%;
        height: 100vh;
        border-bottom: 5px solid white;
        filter: contrast(75%);
    }
}

.info-text-cont {
    h6 {
        font-size: 50px;
    }
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-32%, 270%);
}
