.navbar {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #13386c;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 5px solid white;

    a {
        font-size: 12px;
    }

    h6 {
        border-bottom: 3px solid white;
    }

    #k:hover {
        text-decoration: none;
    }

    #nav-about {
        margin-top: 50px;
    }

    li.nav-option:not(:last-child) { 
        padding-bottom: 7px;  
        margin-bottom: 7px;
        border-bottom: 2px solid white;
        border-bottom-right-radius: 50%;
     }
     
        
}