.info-container {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px black;
}

.img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  float: right;
  height: 100vh;
  border-bottom: 5px solid white;
  filter: contrast(75%);
}

.info-text-cont {
  position: absolute;
  left: 30%;
  right: 20%;
  transform: translate(0, 30vh);
}
.info-text-cont h6 {
  font-size: 50px;
}

.portfolio-title-cont {
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  border-top: 5px solid white;
}

.portfolio-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-left: 10%;
  padding: 30px 15px;
  color: white;
}
.portfolio-cont #project {
  position: relative;
  height: 200px;
  width: 200px;
  border: 5px outset white;
  border-radius: 50%;
  transition: all 0.5s ease;
  background-color: #13386c;
}
.portfolio-cont #project img {
  filter: brightness(20%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  transition: filter 0.5s ease;
}
.portfolio-cont #project:hover {
  transform: translateY(-10px);
}
.portfolio-cont #project:hover img {
  filter: brightness(100%);
}
.portfolio-cont #project:hover #project-text {
  display: none;
}
.portfolio-cont .project-text-1 {
  position: absolute;
  left: 30px;
  top: 50px;
  text-align: center;
}
.portfolio-cont .project-text-2, .portfolio-cont .project-text-3, .portfolio-cont .project-text-4 {
  position: absolute;
  left: 50px;
  top: 50px;
  text-align: center;
}

.navbar {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #13386c;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 5px solid white;
}
.navbar a {
  font-size: 12px;
}
.navbar h6 {
  border-bottom: 3px solid white;
  font-size: 50px;
}
.navbar #k:hover {
  text-decoration: none;
}
.navbar #nav-about {
  margin-top: 50px;
}
.navbar li.nav-option:not(:last-child) {
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 2px solid white;
  border-bottom-right-radius: 50%;
}

.about-me-cont {
  text-align: center;
  margin-left: 15%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

.about-me-title-cont {
  margin-top: 2%;
  padding-left: 25%;
  padding-right: 25%;
}

.coding-title-cont {
  max-width: 40%;
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  border-top: 5px solid white;
}
.coding-title-cont img {
  max-height: 650px;
  width: 50%;
  height: 50%;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.python-example {
  margin-top: 25px;
  display: flex;
  max-height: 650px;
  max-width: 810.25px;
}
.python-example .python-arrow {
  max-height: 650px;
  color: white;
  font-size: 5vw;
  padding-top: 30%;
  padding-bottom: 40%;
}
.python-example #python-text {
  display: none;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.python-example:hover .coding-title-cont img {
  max-height: 650px;
}
.python-example:hover #python-text {
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
  display: block;
}
.python-example:hover #python-text h2 {
  text-decoration: underline;
}
.python-example:hover .python-arrow {
  display: none;
}

.scion-title-cont {
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  border-top: 5px solid white;
}

.contact-title-cont {
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  border-top: 5px solid white;
}

.contact-cont button {
  margin-top: 10px;
  cursor: pointer;
  color: white;
  background-color: #13386c;
  border: 3px solid white;
}
.contact-cont button:hover {
  background-color: #0c2343;
}
.contact-cont input {
  margin-top: 5px;
  padding-left: 10px;
  width: 240px;
}
.contact-cont #yourmessage {
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  width: 230px;
}

.back-to-top-cont {
  margin-left: 35%;
  margin-right: 25%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 5px solid white;
}
.back-to-top-cont button {
  color: white;
  background-color: #13386c;
  border: none;
}
.back-to-top-cont button:hover {
  background-color: #0c2343;
  margin-top: -2px;
  border: 2px solid white;
}

@media only screen and (max-width: 992px) {
  .about-me-title-cont {
    margin-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .portfolio-title-cont {
    margin-left: 25%;
    margin-right: 15%;
  }
  .coding-title-cont {
    max-width: 60%;
    margin-left: 25%;
    margin-right: 10%;
  }
  .scion-title-cont {
    margin-left: 25%;
    margin-right: 15%;
  }
  .contact-title-cont {
    margin-left: 25%;
    margin-right: 15%;
  }
  .back-to-top-cont {
    margin-left: 25%;
    margin-right: 15%;
  }
  p {
    font-size: 12px !important;
  }
  h5 {
    font-size: 22px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  h2 {
    font-size: 14px !important;
  }
  .info-text-cont h6 {
    font-size: 40px;
  }
  .info-text-cont h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar a {
    font-size: 8px;
  }
  .about-me-title-cont {
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .portfolio-title-cont {
    margin-left: 20%;
    margin-right: 10%;
  }
  .coding-title-cont {
    max-width: 70%;
    margin-left: 20%;
    margin-right: 10%;
  }
  .scion-title-cont {
    margin-left: 20%;
    margin-right: 10%;
  }
  .contact-title-cont {
    margin-left: 20%;
    margin-right: 10%;
  }
  .back-to-top-cont {
    margin-left: 20%;
    margin-right: 10%;
  }
  .info-text-cont h6 {
    font-size: 30px;
  }
  .info-text-cont h4 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .info-text-cont h6 {
    font-size: 25px;
  }
  .info-text-cont h4 {
    font-size: 12px;
  }
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
* body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #13386c;
}

p {
  color: white;
  font-size: 16px;
}

h6 {
  color: white;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h5 {
  color: white;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

h4 {
  color: white;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  color: white;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

label {
  color: white;
}/*# sourceMappingURL=style.css.map */