@import "partials/hero",
        "partials/portfolio",
        "partials/navbar",
        "partials/aboutme",
        "partials/codingexamples",
        "partials/scs",
        "partials/contact",
        "partials/footer";

* {
    font-family: Arial, Helvetica, sans-serif;
    body {
        margin:0;
        padding:0;
        overflow-x:hidden;
        background-color: #13386c;
    }
}

p {
    color: white;
    font-size: 16px;
}

h6 {
    color: white;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    color: white;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    color: white;
    font-size: 28px;
    font-weight: 400;
}

h2 {
    color: white;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

label {
    color: white;
}

